{% load i18n %}
{% load theme_tags %}


<section id="box-{{ box.pk }}" class="boxes">
    {{ box.content|safe }}

    {% if user.profile.is_superuser %}
        <a href="{% url 'admin:boxes_box_change' box.pk %}?next={{ request.path }}" title="Edit Box" class="edit-box">
            {% with box.title as box_title %}
            {% spaceless %}
                {% blocktrans %}Admin: Edit {{ box_title|title }} Box{% endblocktrans %}
            {% endspaceless %}
            {% endwith %}
        </a>
    {% endif %}
</section>

{% theme_setting setting_name %}
