{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% has_perm user forms.add_form as can_add_form %}

{% if SITE_GLOBAL_SEARCHINDEX %}
<form class="form-inline" action="{% url 'forms' %}" method="get" role="search">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" name="q" value="{{ request.GET.q|striptags }}" placeholder="Search" />
    </div>
  <button class="btn btn-primary" type="submit">
    <i class="glyphicon glyphicon-search" alt="{% trans 'Search' %}"></i>
  </button>
  {% if can_add_form %}
    <a href="{% url 'form_add' %}" class="btn btn-primary">{% trans "Add" %}</a>
  {% endif %}
 </div>

</form>
<br />
{% endif %}
