{% load base_tags %}
{% load perm_tags %}
{% load i18n %}

{% has_perm user module_name.add_module_name as can_add %}

{% if SITE_GLOBAL_SEARCHINDEX %}
<form id="t-{{ module_name }}-search-form" class="form-inline t-search-form" action="{{ form_action }}" method="get" role="search">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" name="q" value="{{ request.GET.q|striptags }}" placeholder="Search" />
    </div>
  <button class="btn btn-primary" type="submit">
    <i class="glyphicon glyphicon-search" alt="{% trans 'Search' %}"></i>
  </button>
  {% if can_add %}
   <a href="{{ add_url }}" class="btn btn-primary">{% trans "Add" %}</a>
  {% endif %}
 </div>

</form>
<br />
{% endif %}
