{% extends "accounts/base.html" %}
{% load i18n %}
{% load static %}


{% block title %}{% trans "Login" %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
    <h2>{% trans "Log In to the Site" %}</h2>

    {% if user.is_authenticated %}
        <p>
           {% blocktrans %} You are already logged in as {{ user }}. {% endblocktrans %}
            <a href="{% url 'auth_logout' %}">{% trans "Logout?" %}</a>
        </p>
    {% else %}
        <form class="form-horizontal" id="t-accounts-login-form" method="post" action="">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% for f in form %}
                {% if f.is_hidden %}
                    {{ f }}
                {% else %}
                    <div class="form-group {% if f.errors %}has-error{% endif %}">
                        <label for="{{ f.id_for_label }}" class="col-sm-2 control-label">{{ f.label }}</label>
                        <div class="col-sm-6">
                            {{ f }}

                            {% if f.errors %}
                                {% for field_error in f.errors %}
                                    <span id="{{ f.id_for_label }}-help-block" class="help-block">{{ field_error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                    <a id="wechat_login_btn" title="{% trans 'WeChat Login' %}" href="https://www.ams365.cn{% url 'get_weixin_code' %}?appid=wx693c362172faaa98&redirect_uri=https%3A%2F%2F{{ domain }}%2Fsocial_auth%2Fcomplete%2Fwechat%2F&scope=snsapi_login&state=969976f994a844e8dfbd287c66e2dbbc">
                    <img src="https://open.weixin.qq.com/zh_CN/htmledition/res/assets/res-design-download/icon24_wx_button.png"></a>
                </div>
                <div id="wechat_login_container"  class="col-sm-6" style="display:none;"></div>
            </div>
        </form>
        <h3>{% trans "Forgot your password?" %}</h3>
        <p><a href="{% url 'auth_password_reset' %}">{% trans "Click here to reset your password." %}</a></p>

        {% if MODULE_USERS_SELFREGISTRATION %}
            <h3>{% trans "Don't have an account?" %}</h3>
            <p><a href="{% url 'registration_register' %}">{% trans "Register Now" %}</a></p>
        {% endif %}
    {% endif %}
{% endblock %}
{% block extra_body %} {{ block.super }}
{#    <script type="text/javascript" src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>#}
{#    <script type="text/javascript">#}
{#    $('#wechat_login_btn').click(#}
{#        function () {#}
{#            $('#wechat_login_container').toggle();#}
{#            var obj = new WxLogin({#}
{#                self_redirect:true,#}
{#                id:"wechat_login_container",#}
{#                appid: "wx693c362172faaa98",#}
{#                scope: "snsapi_login",#}
{#                //redirect_uri: "https://passport.yhd.com/wechat_callback",#}
{#                redirect_uri: "https://www.ams365.cn/social_auth/complete/wechat/",#}
{#                state: "xxxxxx",#}
{#                style: "",#}
{#                href: ""#}
{#            });#}
{#        }#}
{#    )#}
{##}
{#    </script>#}
{% endblock %}
