{% load cache %}
{% load i18n %}
{% load staticfiles %}
{% load base_filters %}
{% load base_tags %}
{% load photo_tags %}
{% load theme_tags %}

{% theme_extends 'default.html' %}
{% block extra_head %}
        <!-- Custom styles for this template
=========================================================== -->

<link rel="stylesheet" href="{{ THEME_URL }}media/css/animate.min.css" type="text/css">
<link rel="stylesheet" href="{{ THEME_URL }}media/css/creative.css" type="text/css">
<link rel="stylesheet" href="{{ THEME_URL }}media/css/custom.css" type="text/css">
  <!-- Custom Fonts -->
<link href="//fonts.cat.net/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link href="//fonts.cat.net/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ THEME_URL }}media/css/font-awesome.css" type="text/css">
{% endblock %}


{% if obj_header %}
    {{ obj_header }}
{% else %}
    <h1>{% trans 'Payment Status' %}</h1>
{% endif %}

<p>&nbsp;</p>
    <p>
        <b>
        {% trans "Payment success !" %}
        </b>
    </p>
    <p>&nbsp;</p>

    {{ payment.response_reason_text }}
    </b>

    <p>&nbsp;</p>
    {% if not payment.is_approved %}
        <p>
        <a href="{{ SITE_GLOBAL_SITEURL }}{% url "payment.pay_online" payment.invoice.id payment.invoice.guid %}">{% trans "Try Making Payment Again" %}</a>
        </p>
    {% else %}
        <p>
        <a href="{{ SITE_GLOBAL_SITEURL }}{% url "invoice.print_view" payment.invoice.id payment.invoice.guid %}">{% trans "Print Friendly Invoice." %}</a>
        </p>
        <p><a href="{{ SITE_GLOBAL_SITEURL }}{% url "invoice.view" payment.invoice.id payment.invoice.guid %}">{% trans "View my Invoice" %}</a></p>

   {% endif %}



    {% if obj_display %}
        {{ obj_display }}
    {% endif %}
